# Gradle
.gradle/
**/build/
**/build-cache/
**/buildSrc/
**/gradle/
**/gradle-wrapper.jar
**/gradle-wrapper.properties
**/gradlew
**/gradlew.bat
**/settings.gradle
**/gradle.properties

# Android Studio
.idea/
*.iml
*.ipr
*.iws

# Android
android/.cxx/
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/*.iml

# Keystores
*.jks
*.keystore
keystore.properties

# Kotlin
.kotlinc/

# Misc
*.log
*.lock
*.tmp
*.temp
*.bak
*.swp
*.swo
*.orig
*.orig.*

# MacOS
.DS_Store

# Windows
Thumbs.db

# Local environment files
.env
.env.*
!.env.example
.env*.local

# App binary artifacts
*.apk
*.aab
*.ipa
*.app
*.xcarchive
*.zip

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo
*.orig
*.orig.*
.history/

# Test coverage & reports
coverage/
.nyc_output/

# Project-specific
app-example
google-services.json
GoogleService-Info.plist
node_modules
